[submodule "archive-network"]
	path = archive-network
	url = https://github.com/paza-team/archive-network.git

[submodule "evaluation-meeting-chaincode"]
	path = evaluation-meeting-chaincode
	url = https://github.com/paza-team/evaluation-meeting-chaincode.git

[submodule "fabricSDKREST"]
	path = fabricSDKREST
	url = https://github.com/paza-team/fabricSDKREST.git

[submodule "PAZA"]
	path = PAZA
	url = https://github.com/paza-team/PAZA.git